:root {
  --max-width: 1200px;

  --menu-background: #ffd700; /* Amarillo */
  --menu-text-color: #333;
  --menu-link-hover-color: #ff8c00; /* Naranja */

  --footer-background: #333;
  --footer-text-color: #fff;
  --footer-link-hover-color: #ffd700; /* Amarillo */
}

/* Estilos para el menú de navegación */
header {
  background-color: var(--menu-background);
  padding: 20px 0;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

/* Cambios para el enlace "Home" */
nav a[href="/"] {
  color: yellow; /* Color amarillo */
  padding: 0 20px; /* Ajuste de espacio extra */
}

nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px; /* Tamaño de fuente aumentado */
  text-transform: uppercase;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--menu-link-hover-color);
}

/* Estilos para el footer */
footer {
  background-color: var(--footer-background);
  color: var(--footer-text-color);
  padding: 30px 0;
  text-align: center;
}

footer p {
  margin-bottom: 20px;
}

footer a {
  color: var(--footer-text-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--footer-link-hover-color);
}
